html{
    scroll-behavior: smooth;
}

.backImg{
    // border: solid;
    position: relative;
    width: 100%;
    height: 45.5vmax;

    img{
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;

    }

    a{
        // border: solid;
        position: absolute;
        z-index: 3;
        width: fit-content;
        top: 70%;
        left: 50%;
        background-color: rgba(255, 255, 255, 0.431) ;
        padding: 1%;
        border-radius: 1vmax ;
        transform: translate(-50% ,-50%);
        font-size: 3vmax;
        text-decoration: none;
    }
}

.search {
    border: solid;
    height: 45.5vmax;
    padding: 5% 0%;
    position: relative;
    &:before,
    &:after {
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        // margin: 0 0 0 -40vmax;
        position: absolute;
        width: 80%;
        top: 75%;
        transform: translate(-50%,-50%);
    }
    &:before {
        background: #18379c;
        background: linear-gradient(left, #2d80df, #18379c, #2d80df);
        // top: 192px;
    }
    &:after {
        background: #18379c;
        background: linear-gradient(left, #2d80df, #18379c, #2d80df);
        // top: 191px;
    }
    form {
        background: #2d80df;
        background: linear-gradient(#2d80df,#b0cef1);
        border: 1px solid #2d80df;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px #272727;
        display: inline-block;
        font-size: 0px;
        // margin: 150px auto 0;
        padding: 2vmax;
        position: absolute;
        left: 50%;
        transform: translate(-50% ,-50%);
        top: 75%;
        z-index: 1;
        width: 45vmax;
        
    }
    input {
        background: #18379c;
        background: linear-gradient(#2d80df, #18379c);
        border: 1px solid #18379c;
        border-radius: 5px 0 0 5px;
        box-shadow: 0 2px 0 #000;
        color: #888;
        display: block;
        float: left;
        font-family: "Cabin", helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        height: 40px;
        margin: 0;
        padding: 0 10px;
        text-shadow: 0 -1px 0 rgb(0, 0, 0);
        // width: 200px;
        width: 32vmax;

        &::-webkit-input-placeholder {
            color: #888;
        }
        &:-moz-placeholder {
            color: #888;
        }
        &:focus {
            animation: glow 800ms ease-out infinite alternate;
            background: #222922;
            background: linear-gradient(#333933, #222922);
            border-color: #393;
            box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1), 0 2px 0 #000;
            color: #efe;
            outline: none;
        }
        &:focus::-webkit-input-placeholder {
            color: #efe;
        }
        &:focus:-moz-placeholder {
            color: #efe;
        }
    }
    button {
        background: #18379c;
        background: linear-gradient(#2d80df, #18379c);
        box-sizing: border-box;
        border: 1px solid #18379c;
        border-left-color: #18379c;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 2px 0 #18379c;
        color: #fff;
        display: block;
        float: left;
        font-family: "Cabin", helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        height: 42px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        position: relative;
        text-shadow: 0 -1px 0 #000;
        // width: 80px;
        width: 11.2vmax;
        &:hover,
        &:focus {
            background: #292929;
            background: linear-gradient(#393939, #292929);
            color: #5f5;
            outline: none;
        }
        &:active {
            background: #292929;
            background: linear-gradient(#393939, #292929);
            box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
            top: 1px;
        }

    }
}


@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.6), inset 0 0 10px rgba(0, 255, 0, 0.4), 0 2px 0 #000;
    }
}
// .ie .webdesigntuts-workshop input {
// 	line-height: 40px;
// }


.result {
    // border: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
        text-align: center;

        img {
            // border: solid;
            width: 20vmax;
            height: 15vmax;
        }

        .info {
            // border: solid;
            font-size: 2vmax;
            // padding: 1vmax;
            text-align: center;
            width: 20vmax;
        }
    }
}

