header{
    background-color: red;
    // border: solid;
    position: fixed;
    height: 6.6vmax;
    width: 100%;
    color: rosybrown;


    .logo{
        // border: solid;
        width: fit-content;
        font-size: 3vmax;
        position: absolute;
        left: 2vmax;
        span{
            display: block;
            font-size: 2.5vmax ;
        }
    }

    nav{
        // border: solid;
        width: 20vmax;
        display: table;
        position: absolute;
        right: 0;
        height: 100%;
        ul{
            // border: solid;
            display: table-cell;
            vertical-align: middle;

            li{
                // border: solid;
                list-style: none;
                display: inline-block;
                margin: 0 5%;
                font-size: 1.5vmax;
            }
        }
    }
}


